<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="index.php" />
            </files>
        </defaultDocument>
        <security>
            <requestFiltering>
                <fileExtensions>
                    <add fileExtension=".env" allowed="false" />
                    <add fileExtension=".runtime" allowed="false" />
                    <add fileExtension=".sql" allowed="false" />
                    <add fileExtension=".log" allowed="false" />
                    <add fileExtension=".bak" allowed="false" />
                </fileExtensions>
                <hiddenSegments>
                    <add segment=".env" />
                    <add segment=".env.runtime" />
                    <add segment=".cpanel.yml" />
                    <add segment="backups" />
                    <add segment="logs" />
                    <add segment="DEPRICATED" />
                    <add segment="libraries" />
                    <add segment="setup" />
                </hiddenSegments>
            </requestFiltering>
        </security>
        <rewrite>
            <rules>
                <rule name="Deny Sensitive Files" stopProcessing="true">
                    <match url="^(.*)$" />
                    <conditions>
                        <add input="{URL}" pattern="^/(\.env(\..*)?|\.cpanel\.yml|config\.local\.php|composer\.(json|lock)).*$" />
                    </conditions>
                    <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Forbidden" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
